$detail-box--field-value--color: #F1F1F1;
.data-table__rows__row.selected{
    background-color: $detail-box--field-value--color;
}

.simple-checkbox {
  display: none;
}

.simple-checkbox + span {
  width: 16px;
  display: inline-block;
}

.simple-checkbox + span:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}

.simple-checkbox:checked + span:before {
  border-color: transparent;
  background: #29f;
  color: #fff;
  content: "\2713";
  font-size: 1.3em;
  text-align: center;
}

.simple-checkbox:checked + span:after {
  font-weight: bold;
}