.list {
  color: inherit;
}

.data-table-wrap {
  display: flex;
  flex: 2;
  transition: width .2s linear;
  transition-delay: .1s;
}

.details-box-wrap.show-as-column {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 1;
}

.list-search-field input[type="search"]::-webkit-search-decoration {
  display: none;
}

.user-management-controls {
  padding: 10px 0px 10px;
  flex: 5;
}

.user-management-control.pagination {
  flex: 1;
  position: relative;
}

.user-management-control {
}

.search-list-items {
  float: left;
  width: 300px;
}

.search-box {
  display: flex;
  height: 40px;
}

.controls-wrapper {
  display: flex;
}

.control-row {
  display: flex;
  margin-top: -25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

.control-row.checkboxes {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin-left: -23px;
}

.user-management-control {
  flex: 1;
}

.control-checkbox {
  margin-bottom: 1em;
  margin-top: 10px;
  margin-left: 20px;
  width: 270px !important;
}

.control-select-role, .control-select-group {
  width: unset !important;
  max-width: 250px;
}

.data-table-pager {
  position: absolute;
  bottom: 0;
  right: 50px;
  margin-right: 20px;
}

.data-table-pager--buttons {
  margin: 0 !important;
}

.data-table-import-export{
  position: absolute;
  bottom: 0;
  right: 5px;
}

.expand-filters{
  border-radius: 5px;
  width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
  margin-top: 3px !important;
}