html {
    background-color: #f3f3f3;
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
}

li {
    line-height: 1.75;
}

.content {
    margin: 20px;
}


.org-unit-dialog-selector > .MuiPaper-root {
    width: 100% !important;
}